<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </head>
    <section class="vh-100 gradient-custom" style=" background-image: url(https://t3.ftcdn.net/jpg/03/99/24/82/360_F_399248286_Ogm0T8CFeauN4Hdn42FqWfsCE02dJBbX.jpg);background-size: cover;">
        <img style="margin-left:30px;margin-top:20px;"src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0rbFTl0dcyGTxv8zv6fuyjBKKLk0ripTsow&usqp=CAU" alt="Girl in a jacket" width="65" height="65">
    <br><br><br><br><br><br><br><br><br><br><marquee width="70%" direction="down" height="100px"><h1 style="text-align:center; color:greenyellow ;margin-left:500px;">Welcome to User Management System</h1></marquee><br><br>
    
    <button style="margin-left :860px; border-radius: 20%;width:100px;" type="button" class="btn btn-primary"(click)="goToLogin()">Login</button>   
    </section>

